/* font-face*/

@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular/Lato-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Regular/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular/Lato-Regular.ttf') format('truetype'), url('../fonts/Lato-Regular/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato-Bold/Lato-Bold.eot?') format('eot'), url('../fonts/Lato-Bold/Lato-Bold.woff') format('woff'), url('../fonts/Lato-Bold/Lato-Bold.ttf') format('truetype'), url('../fonts/Lato-Bold/Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'glyphicons-halflings-regular';
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.woff2'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflings-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*END: font-face*/

.header-alert {
    background-color: #d9e1e6;
    font-family: 'Lato-Regular';
    color: #868f93;
    padding: 5.5px 0;
}

.header-alert__text {
    text-transform: uppercase;
}

.header-alert__button {
    outline: none;
}

.header-top__language button {
    border: none;
}

.header-top__language-img {
    width: 15px;
    margin-right: 9px;
}

.header-top__language-lang {
    font-size: 11px;
    font-family: 'Lato-Bold';
    margin-right: 11px;
}

.header-top__language-list {
    width: 50px;
}

.header-top__logo a {
    display: inline-block;
}

.header-top__logo-img {
    display: block;
}

.header-top__cart {
    border: 2px solid #ded3aa;
}

.header-top__cart button {
    text-transform: uppercase;
    padding: 10.5px 31.6px;
    font-size: 12px;
}
