/* font-face*/

@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular/Lato-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Regular/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular/Lato-Regular.ttf') format('truetype'), url('../fonts/Lato-Regular/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato-Bold/Lato-Bold.eot?') format('eot'), url('../fonts/Lato-Bold/Lato-Bold.woff') format('woff'), url('../fonts/Lato-Bold/Lato-Bold.ttf') format('truetype'), url('../fonts/Lato-Bold/Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato-Light/Lato-Light.eot?') format('eot'), url('../fonts/Lato-Light/Lato-Light.woff') format('woff'), url('../fonts/Lato-Light/Lato-Light.ttf') format('truetype'), url('../fonts/Lato-Light/Lato-Light.svg#Lato-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'glyphicons-halflings-regular';
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.woff2'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflings-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*END: font-face*/

body {
    font-family: 'Lato-Regular';
}

a {
    color: #000;
}

a:hover {
    color: #000;
}


/* .header-alert */

.header-alert {
    background-color: #d9e1e6;
    /* font-family: 'Lato-Regular'; */
    color: #868f93;
    padding: 5.5px 0;
}

.header-alert__text {
    text-transform: uppercase;
    font-size: 10px;
}

.header-alert__button {
    outline: none;
}


/* END:.header-alert */


/* .header-top */

.header-top {
    padding: 23px 0;
}

.header-top__language {
    padding: 10px 0;
}

.header-top__language button {
    border: none;
}

.header-top__language-img {
    width: 15px;
    margin-right: 9px;
}

.header-top__language-lang {
    font-size: 12px;
    font-family: 'Lato-Bold';
    margin-right: 11px;
}

.header-top__language-list {
    width: 50px;
}

.header-top__logo {
    padding: 11.5px 0;
}

.header-top__logo a {
    display: inline-block;
}

.header-top__logo-img {
    display: block;
}

.header-top__cart {
    padding: 2px 0;
}

.header-top__cart a {
    border: 2px solid #ded3aa;
    text-transform: uppercase;
    padding: 13.5px 40.2px;
    font-size: 12px;
    /*    border: none; */
    display: inline-block;
}

.header-top__cart .btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.header-top__cart .btn-default:hover {
    background-color: #fff;
    border-color: #66b3ff;
}


/* END:.header-top */

.dividing-line {
    /*     height: 2px; */
    border-bottom: 2px solid #e1e1e1;
}


/* .header-bottom */

.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 20px;
    height: 3px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    background-color: #000;
}

.navbar {
    min-height: auto;
    border: none;
}

.header-bottom__navbar {
    margin-bottom: 0;
}

.navbar-toggle {
    display: inline-block;
    margin: 0;
    float: none;
    padding: 26px 0;
    border: none;
}

.header-bottom__nav .nav-justified {
    width: 75%;
    margin: 0 auto;
}

.header-bottom__nav .nav>li>a {
    padding: 27px 22px;
}

.header-bottom__nav-item {
    text-transform: uppercase;
    outline: none;
}

.header-bottom__nav-item a {
    color: #000;
    font-size: 12px;
}

.header-bottom__nav-item a .caret {
    margin-left: 10px;
    color: #999999;
}

.header-bottom__wlsearch {
    padding: 25px 0;
}

.header-bottom__wishlist,
.header-bottom__separator,
.header-bottom__search {
    display: inline-block;
    margin-right: 6px;
}

.header-bottom__wlsearch div:last-child {
    margin-right: 0;
}

.header-bottom__wishlist a,
.header-bottom__search a {
    color: #000;
    padding: 0px 4px;
    display: inline-block;
}

.header-bottom__separator span {
    border-left: 2px dotted #999999;
    height: 10px;
}

.header-bottom__wishlist a:hover {
    color: red;
}


/* END:.header-bottom */


/* .main-content */

.main-content {
    padding: 30px 0;
}

.main-content-left__top-img a {
    display: block;
}

.main-content-left__top-img img {
    display: block;
    height: auto;
    width: 100%;
}


/* .main-content-right */

.main-content-right__back {
    margin-bottom: 37px;
}

.main-content-right__back a {
    color: #555555;
    display: inline-block;
    text-decoration: none;
}

.main-content-right__main-info-text {
    font-family: 'Lato-Bold';
    font-size: 24px;
    color: #000;
}

.main-info__stars-list {
    display: inline-block;
}

.main-info__stars-list .nav-tabs {
    border: none;
    display: inline-block;
}

.main-info__stars-list .nav-tabs li {
    margin-bottom: -6px;
}

.main-info__separator {
    border-left: 1px solid #555555;
    padding: 0px 2px;
}

.main-info__review {
    color: #555555;
}

.main-info__add-review {
    text-transform: uppercase;
    font-size: 12px;
    display: inline-block;
}

.main-info__stars-list,
.main-info__review,
.main-info__separator {
    margin-right: 5px;
}

.main-info__price {
    font-family: 'Lato-Bold';
    font-size: 24px;
    line-height: 48px;
    color: #68899a;
}

.main-info__product-list-item span {
    color: #000;
    line-height: 24px;
}

.main-info__product-list-item span:last-child {
    color: #68899a;
}

.add-info__add-description {
    margin-bottom: 28px;
}

.add-info__add-description-color,
.add-info__add-description-size,
.add-info__add-description-qty {
    display: inline-block;
    margin-right: 45px;
}

.add-info__add-description div:last-child {
    margin-right: 0;
}

.add-info__add-description-name {
    text-transform: uppercase;
    color: #000;
    font-family: 'Lato-Bold';
    font-size: 14px;
    line-height: 24px;
}

.add-info__description-text {
    color: #555555;
    font-family: 'Lato-Light';
    padding: 30px 0;
}

.add-info__description-text p {
    line-height: 21px;
}

.add-info__description-text-list {
    margin-bottom: 0;
}

.add-info__description-list-item {
    line-height: 24px;
    color: #cccccc;
}

.add-info__description-list-item span {
    color: #555555;
}

.jq-number__field {
    width: 34px;
}

.jq-number__field input {
    padding: 8px 5px;
}

.jq-number {
    padding-right: 33px;
}

.main-content-right__choose {
    margin-bottom: 38px;
}

.main-content-right__choose-clear,
.main-content-right__choose-cart,
.main-content-right__choose-wishlist {
    text-transform: uppercase;
    font-size: 12px;
}

.main-content-right__choose-clear {
    line-height: 36px;
    margin-bottom: 35px;
}

.main-content-right__choose-cart,
.main-content-right__choose-wishlist {
    font-family: 'Lato-Bold';
    border: none;
}

.main-content-right__choose-cart {
    color: #fff;
    background-color: #000;
    outline: none;
    padding: 17px 67.3px;
}

.main-content-right__choose-wishlist {
    background-color: #fff;
    padding: 17px 47.3px;
    border: 1px solid #e1e1e1;
}

.main-content-right__socials-share {
    text-transform: uppercase;
    font-family: 'Lato-Bold';
    font-size: 12px;
    padding: 9.5px 0;
    display: inline-block;
}


/* END:.main-content-right */


/* END:.main-content */
